@model IEnumerable<RailwayBooking.Trip_Price>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rate_Current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach_Type.Coach_Type1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat_Type.Seat_Type_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Train.TrainName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rate_Current)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coach_Type.Coach_Type1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seat_Type.Seat_Type_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Train.TrainName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
