@model IEnumerable<RailwayBooking.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Train.TrainName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trip_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Train.TrainName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Booking_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Booking_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Booking_ID })
        </td>
    </tr>
}

</table>
